<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>QuanLySinhVien</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginController</display-name>
    <servlet-name>LoginController</servlet-name>
    <servlet-class>managestudent.controller.LoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginController</servlet-name>
    <url-pattern>/Login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutController</display-name>
    <servlet-name>LogoutController</servlet-name>
    <servlet-class>managestudent.controller.LogoutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutController</servlet-name>
    <url-pattern>/Logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ListDanhMucController</display-name>
    <servlet-name>ListDanhMucController</servlet-name>
    <servlet-class>managestudent.controller.ListDanhMucController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListDanhMucController</servlet-name>
    <url-pattern>/ListDM.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DashBoardController</display-name>
    <servlet-name>DashBoardController</servlet-name>
    <servlet-class>managestudent.controller.DashBoardController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DashBoardController</servlet-name>
    <url-pattern>/DashBoard.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChuyenNganhController</display-name>
    <servlet-name>ChuyenNganhController</servlet-name>
    <servlet-class>managestudent.controller.ChuyenNganhController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChuyenNganhController</servlet-name>
    <url-pattern>/ChuyenNganh.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DanTocController</display-name>
    <servlet-name>DanTocController</servlet-name>
    <servlet-class>managestudent.controller.DanTocController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DanTocController</servlet-name>
    <url-pattern>/DanToc.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SinhVienController</display-name>
    <servlet-name>SinhVienController</servlet-name>
    <servlet-class>managestudent.controller.SinhVienController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SinhVienController</servlet-name>
    <url-pattern>/SinhVien.do</url-pattern>
  </servlet-mapping>
</web-app>